.arts-wrapper {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.upload-from-home {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.upload-btn {
    background-color: #000000;
    color: white;
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s all ease;
}
.upload-btn:hover {
    background-color: #202020;
    color: white;
}