.signedinmessage {
    display: flex;
    align-items: center;
    gap: 10px;
}
.profilepic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.userinfocon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signinbtn {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: none;
    padding:15px  20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s all ease;
}
.signinbtn:hover {
    background-color: #333333;
}
.googleIcon {
    font-size: 1.2rem;
}
.signInText {
    font-size: 1rem;
    font-weight: 500;
}