.popup-overlay {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
  }
  
  .popup-content {
    color: aquamarine;
    background: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
  }
  .save{
    font-size: medium;
    font-weight: bold;
    width: 50%;
    border: none;
    padding: 10px;
    background-color: aquamarine;
    color: #000000;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s all ease;
  }
.userdetails form{
    display: grid;
    justify-content: center;
    gap: 5px;
    
}
  .userdetails input{
    outline: aquamarine;
    border: none;
    padding: 10px;
    background: aquamarine;
    border-radius: 5px 5px;
    color: #000000;
  }
  